<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resource Hub</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Resource Hub</h1>
    <ul>
        <li><a href="#">Article on Stress Management</a></li>
        <li><a href="#">Video: Mindfulness Meditation</a></li>
        <li><a href="#">Counseling Services</a></li>
        <li><a href="#">Crisis Helplines</a></li>
    </ul>
    <a href="/dashboard?username=<%= username %>">Back to Dashboard</a>
</body>
</html>
